<% date = Date.strptime(params[:date], DATE_FORMAT) %>

<h1 title="<%= show_distances_of_time(date) %>">
  <%= date.strftime("#{DATE_FORMAT} - %A") %>
  <%= render partial: 'days/services' %>
</h1>

<%= form_tag dones_path, method: :post, class: "navbar-form navbar-left dones-form" do %>
  <%= text_area_tag(
      :dones,
      @dones,
      class: "form-control max-size borderless transparent"
  ) %>

  <%= text_field_tag :date, params[:date], hidden: true %>

  <div>
    <%= button_tag :submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'days' %>

<style media="screen">
  .max-size {
    width: 80vw;
    height: 80vh;
  }

  .borderless {
    border-width: 0;
  }

  .transparent {
    background-color: transparent;
  }

  body {
    transition: background-color 0.6s ease-in;
  }

  .success {
    background-color: rgb(35, 150, 85);
    transition: background-color 0.6s ease-out;
  }
</style>
