<h1>
  <%= Date.parse(params[:date]).strftime("#{DATE_FORMAT} - %A") %>
  <%= link_to image_tag('wolfram.ico', style: 'height: 20px;'), "http://www.wolframalpha.com/input/?i=#{params[:date]}" %>
</h1>

<%= form_tag dones_path, method: :post, class: "navbar-form navbar-left dones-form" do %>
  <%= text_area_tag(
      :dones,
      @dones,
      class: "form-control max-size borderless transparent"
  ) %>

  <%= text_field_tag :date, params[:date], hidden: true %>

  <div>
    <%= button_tag :submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'days' %>

<style media="screen">
  .max-size {
    width: 80vw;
    height: 80vh;
  }

  .borderless {
    border-width: 0;
  }

  .transparent {
    background-color: transparent;
  }

  body {
    transition: background-color 0.6s ease-in;
  }

  .success {
    background-color: rgb(167, 255, 235);
    transition: background-color 0.6s ease-out;
  }
</style>
