<%= form_for(post) do |f| %>
  <div class="field post">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field post">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
